<footer id="footer">
	<div id="footer-inner">
		<ul class="footer-entries">
			<li class="footer-column">
				<span class="footer-column-title">Apache License</span>
				<div class="footer-column-elements">
					<a href="{{ "/show-license/Apache-2.0" | relative_url }}">Version 2.0</a>
					<a href="{{ "/show-license/Apache-1.1" | relative_url }}">Version 1.1</a>
					<a href="{{ "/show-license/Apache-1.0" | relative_url }}">Version 1.0</a>
				</div>
			</li>
			<li class="footer-column">
				<span class="footer-column-title">BSD Licenses</span>
				<div class="footer-column-elements">
					<a href="{{ "/show-license/BSD-4-Clause" | relative_url }}">4-clause</a>
					<a href="{{ "/show-license/BSD-3-Clause" | relative_url }}">3-clause</a>
					<a href="{{ "/show-license/BSD-2-Clause" | relative_url }}">2-clause</a>
				</div>
			</li>
			<li class="footer-column">
				<span class="footer-column-title">Project</span>
				<div class="footer-column-elements">
					<a href="{{ "/about/contribute.html" | relative_url }}">Contribute</a>
					<a href="https://mlaunois.github.io/about/terms">Terms of use</a>
					<a href="https://mlaunois.github.io/about/privacy">Privacy policy</a>
				</div>
			</li>
		</ul>
	</div>
	<div id="footer-copyright">
		<p>Copyright © 2019 Maxime Launois where applicable; use of information on this site is subject
		to the <a href="https://github.com/mlaunois/license-translations/blob/master/LICENSE">Creative Commons Attribution 4.0 International License</a>.
		This does not apply to the original licenses, which may be governed by their own licenses.</p>
		<p>Thanks to <a href="https://github.com">GitHub</a> for hosting this site!</p>
	</div>
</footer>
