<header id="header">
	<div id="header-inner">
		<ul class="header-entries">
			<li class="header-item home">
				<a class="header-link" href="{{ "/" | relative_url }}">License Translations</a>
			</li>
			<li class="header-item dropdown">
				<a class="header-link" href="{{ "/licenses/" | relative_url }}">Licenses</a>
				<div class="header-dropdown">
					<a href="{{ "/apache/" | relative_url }}">Apache licenses</a>
					<a href="{{ "/bsd-like/" | relative_url }}">BSD-style licenses</a>
				</div>
			</li>
			<li class="header-item">
				<a class="header-link" href="{{ "/about/contribute.html" | relative_url }}">Contribute</a>
			</li>
			<li class="header-item">
				<a class="header-link" href="https://github.com/license-translations/license-translations.github.io">GitHub repo</a>
			</li>
		</ul>
	</div>
</header>
