---
layout: default
---
<h1>License translations for all versions</h1>
Welcome to the translation project for the most commonly used licenses in software and content.
{{ content }}

<table id="list-translations">
	<tr>
		<th>License</th>
		<th>Original text</th>
		<th>Translations</th>
	</tr>
	<tr>
		<td><a href="{{ "/show-license/Apache-1.0" | relative_url }}">Apache License, version 1.0</a></td>
		<td><a href="https://apache.org/licenses/LICENSE-1.0.txt">Apache Foundation</a></td>
		<td>Français</td>
	</tr>
	<tr>
		<td><a href="{{ "/show-license/Apache-1.1" | relative_url }}">Apache License, version 1.1</a></td>
		<td><a href="https://apache.org/licenses/LICENSE-1.1.txt">Apache Foundation</a></td>
		<td>Français</td>
	</tr>
	<tr>
		<td><a href="{{ "/show-license/Apache-2.0" | relative_url }}">Apache License, version 2.0</a></td>
		<td><a href="https://apache.org/licenses/LICENSE-2.0.html">Apache Foundation</a></td>
		<td>Français</td>
	</tr>
	<tr>
		<td><a href="{{ "/show-license/BSD-4-Clause" | relative_url }}">Original BSD License (4-clause)</a></td>
		<td><a href="https://spdx.org/licenses/BSD-4-Clause.html">University of California, Berkeley</a></td>
		<td>Français</td>
	</tr>
	<tr>
		<td><a href="{{ "/show-license/BSD-3-Clause" | relative_url }}">Revised BSD License (3-clause)</a></td>
		<td><a href="https://spdx.org/licenses/BSD-3-Clause.html">University of California, Berkeley</a></td>
		<td>Français</td>
	</tr>
	<tr>
		<td><a href="{{ "/show-license/BSD-2-Clause" | relative_url }}">FreeBSD License (2-clause)</a></td>
		<td><a href="https://www.freebsd.org/copyright/freebsd-license.html">FreeBSD Project</a></td>
		<td>Français</td>
	</tr>
</table>
